*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* intestazione */

header{
    background-image: url(sfondo-header.png);
    background-position: center;
    background-size: cover;
    height: 100%;
}

.navigation{
    padding-top: 2%;
}

.row-around{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-between{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40%;
    color: white;
}

.bottone-accedi{
    background-color: white;
    display: inline-block;
    padding: 15%;
    border-radius: 20px;
    
}

/* 2nd parte intestazione */

.mar-bottom{
    padding-bottom: 10%;
}

.column-around{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.column-around div{
    width: 50%;
    margin: auto;
    padding-top: 4%;
    color: white;
    text-align: center;
}

#titolo{
    font-size: x-large;
}

.row-around2{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 5%;
    padding-right: 5%;
}

.button4download1{
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-top: 7%;
    margin-bottom: 20%;
    background-color: white;
    padding: 2%;
    border-radius: 30px;
}

.button4download2{
    display: inline-block;
    color: rgb(255, 255, 255);
    margin-top: 7%;
    margin-bottom: 20%;
    background-color: #23272a;
    padding: 2%;
    border-radius: 30px;
}

/* corpo */

main{
    margin: auto;
}

.discover{
    width: 100%;
}

.img-width{
    width: 100%;
}

.row-around1{
    background-color: #e2e2e2;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5%;
    padding-bottom:  5%;
    padding-left: 10%;
    padding-right: 10%;
}

.row-around3{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 10%;
    padding-bottom:  10%;
    padding-left: 10%;
    padding-right: 10%;
}

.text{
    width: 50%;
    vertical-align: middle;
    padding-left: 15%;
    display: inline-block;
}

.text1{
    width: 50%;
    vertical-align: middle;
    padding-right: 15%;
    display: inline-block;
}

#titolo1{
    font-size: 250%;
    padding-bottom: 5%;
}

.colonne{
    display: flex;
    flex-direction: column;
}